# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
*.csproj.user

# JetBrains Rider
.idea/

# NuGet
**/[Pp]ackages/*
*.nupkg
**/packages/
project.lock.json
project.fragment.lock.json
artifacts/

# .NET Core
*.publishproj

# OS files
.DS_Store
Thumbs.db

# Export file (binary)
export
